:root {
    --cor-primaria: #172135;
    --cor-secundaria: #dfdfdf;
    --cor-menuSelecionado: #303f73;
    --cor-menuHover: #3c4e8f;
    --cor-geral: aliceblue;
    --font-textos: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --cor-login: rgb(212, 211, 211);
    --cor-siglasBG: orange;


    --cor-icone-projetos: 0, 102, 255;
    --cor-icone-tarefas: 0, 102, 255;
    --cor-icone-concluidos: 37, 230, 117;
    --cor-icone-atrasadas: 238, 22, 22;
    --opacidade-icone: 0.15;

    --teste: dashCards col-sm-12 col-md-12 col-lg-6 col-xl-3;
}

a {
    text-decoration: none;
}

span.material-icons {
    font-size: 25px;
    margin-right: 10px;
}

/* ----------------> PÁGINA LOGIN <----------------*/

.camposLogin.is-invalid:focus {
    box-shadow: none;
}

.backgroundLogin {
    height: 100vh;
    width: 100vw;
    background-image: url(../img/background.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.backgroundLogin .card {
    height: 600px;
    width: 1000px;
    border-radius: 20px;
    border: none;
}

.input-group .material-icons {
    font-size: 30px;
    color: var(--cor-login);
}

.inputLogin {
    border-radius: 50px;
    height: 60px;
    padding: 0px;
    border: 2px solid;
    border-color: var(--cor-login);
}

.inputLogin input {
    line-height: 0;
    font-size: clamp(12px, 1.5vw, 18px);
    border: none;
    height: 100%;
    width: 100%;
}

.inputLogin input:focus {
    outline: none;
    box-shadow: none;
}

.btLogin {
    background: linear-gradient(to right,
            #ff5e00,
            #ff8a00,
            #ff5e00);
    font-weight: bold;
    color: white;
    font-size: 30px;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
}

.boardWelcome {
    background-image: url(../img/loginBG.png);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

/* ----------------> BARRA LATERAL E MENU <----------------*/
.barraLateral {
    min-height: 100vh;
    background-color: var(--cor-primaria);
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
}

.logo {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    max-width: 100%;
    height: auto;
}

.menu {
    padding: 0px;
}

.menu ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

.menu ul li {
    display: flex;
}

.menuItem {
    background-color: var(--cor-primaria);
    width: 100%;
    margin: 2px 0px;
    padding: 15px 10px;
    border-radius: 10px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    transition: 0.5s;
    display: flex;
    align-items: center;
    font-size: clamp(12px, 1.3vw, 18px);
    white-space: nowrap;
}

.menuItem:hover {
    background-color: var(--cor-menuHover);
}

.menu a.active {
    background-color: var(--cor-menuSelecionado);
}

/* ----------------> GERAL <----------------*/

.geral {
    height: 100vh;
    background-color: var(--cor-geral);
    flex: 1;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0px;
    margin: 0px;
}

/* ----------------> BARRA SUPERIOR E PERFIL <----------------*/
.barraSuperior {
    height: fit-content;
    background-color: var(--cor-geral);
    padding: 0px;
    position: sticky;
    top: 0;
    z-index: 100;
}

.barraPerfil {
    height: 80px;
}

.userPerfil {
    align-self: center;
    width: fit-content;
    height: fit-content;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    margin-left: auto;
    padding: 0px 15px;
    margin-right: 15px;
    gap: 5px;
}



/* ----------------> BARRA DE AÇÕES <----------------*/
.barraAcoes {
    position: sticky;
    top: 140px;
    z-index: 99;
    padding: 10px 15px;
}

/* ----------------> BARRA TITULO E CONTEUDO <----------------*/
.barraTitulo {
    height: 50px;
    background-color: var(--cor-primaria);
    display: flex;
    align-items: center;
    padding-left: 20px;
    font-size: 25px;
    font-weight: bold;
    color: white;
    margin: 0;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 5px;

}

.conteudo {
    height: 100vh;
    margin: 0px;
    padding: 0px;
    margin-top: 10px;
}

/* ----------------> Dashboard <----------------*/
.barraCorCards {
    height: 10px;
    background: linear-gradient(to right,
            #ff5e00,
            #ff8a00,
            #ff5e00);
}

.dashCards {
    height: 200px;
    padding: 10px 10px;
}

.dashCards .card {
    height: 100%;
    justify-content: center;
    border-radius: 15px;
    border: none;
    overflow: hidden;
}

.dashCards .dashInfo {
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: black;
    gap: 5px;
    text-align: center;

}

.dashInfo .icones {
    border-radius: 500px;
    padding: 10px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.dashInfo h6 {
    font-size: clamp(12px, 2vw, 16px);
}

.card span {
    font-size: 60px;
    margin: 0px;
}

h2.h2numeros {
    font-size: 55px;
    margin: 0px;
}

.tituloCard {
    font-size: clamp(16px, 2vw, 25px);
}

/* ----------------> Dashboard tarefas <----------------*/

.dashTarefas {
    padding: 10px 10px;
}

.dashTarefas .card {
    border-radius: 15px;
    border: none;
    height: 400px;
    min-height: 250px;
    padding: 0px 30px;
    font-size: 10px;
    overflow: hidden;
}

.graficoTarefas {
    height:95%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: cadetblue; */
    gap: 3px;

    padding: 0px;
}